@import url("https://fonts.googleapis.com/css?family=Lato");
body .fullcontainer {
  margin: 0px auto;
  width: 1300px; }
body .containerRight {
  width: 600px;
  height: 100%;
  margin-left: 700px;
  z-index: 100000;
  position: fixed;
  background-color: #f2f2f2;
  padding-top: 10px; }
  body .containerRight .contents {
    overflow: scroll;
    width: 560px;
    height: 85%;
    margin-top: 20px; }
body .container {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 0.25px;
  line-height: 160%;
  width: 700px;
  clear: both;
  margin: 0px 10px 20px 0px;
  box-shadow: -10px 10px 10px 20 grey; }
  body .container .logo {
    display: flex;
    margin: 30px 0px 30px 0px; }
  body .container .desUp {
    font-weight: thin;
    line-height: 150%;
    font-size: 14px;
    padding: 10px 0px 0px 10px;
    letter-spacing: -0.2px; }
  body .container .col-md-3 {
    margin-bottom: 50px; }
body .col-xs-3 {
  width: 180px;
  overflow: hidden;
  margin-right: 30px;
  margin-bottom: 20px; }
body .row {
  margin: 0px 0px 10px 0px; }
body .header {
  display: flex;
  margin-top: 23px; }
  body .header ul {
    margin: 0px;
    padding: 0px; }
  body .header li {
    list-style: none;
    margin-right: 10px;
    font-size: 20px;
    padding: 0px;
    margin: 0px; }
  body .header input[type=checkbox] {
    cursor: pointer; }
body a {
  color: #333;
  text-decoration: none; }
  body a:hover {
    color: #333;
    text-decoration: none; }
  body a :after {
    color: #333;
    text-decoration: none; }
  body a :before {
    color: #333;
    text-decoration: none; }
body label {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 0.25px;
  line-height: 160%; }
body .des1 {
  line-height: 140%;
  margin: 15px 0px 35px 0px;
  font-size: 12px; }
body img {
  transition: opacity 1s ease-in-out; }
body .abImg {
  width: 250px;
  height: 100px;
  overflow: hidden; }
body .filterblock {
  text-align: left;
  display: inline-block;
  font-size: 11px;
  margin-left: 16px; }
body label {
  margin: 0px 6px 0px 3px; }
body hr {
  /* margin-top: 20px; */
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  width: 95%; }
body .midHeader {
  text-align: left;
  display: inline-block;
  font-size: 11px;
  margin-left: 35px; }
body .toTop {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 25px;
  margin-left: 6px;
  margin-bottom: 58px;
  height: 25px;
  background-color: #333;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 0px 0px 0px 0px;
  display: block; }
  body .toTop:hover {
    cursor: pointer; }
body .overlay {
  width: 100%;
  z-index: 10;
  position: absolute; }
body .bottomBar {
  position: fixed;
  font-size: 11px;
  color: white;
  bottom: 0;
  left: 0;
  background-color: black;
  z-index: 10000;
  transition: background-color 0.5s ease;
  display: inline-block;
  text-align: center;
  padding: 5px;
  opacity: 0.9;
  margin-bottom: 30px;
  margin-left: 6px; }
body .randomView {
  font-size: 10px; }

/*# sourceMappingURL=style.css.map */
